# Dependencies
node_modules/
jspm_packages/
bower_components/

# Logs and Debug
logs
*.log
npm-debug.log*
yarn-debug.log*
lerna-debug.log*
.eslintcache

# Environment
.env
.env.test

# Build/Coverage
dist/
build/
coverage/
.nyc_output/
*.tsbuildinfo

# Caches
.cache/
.parcel-cache/
.next/
.nuxt/
.rts2_cache/

# IDE/System
.DS_Store
.vscode/
.node_repl_history
